.library{
  min-height: 100vh;
  margin: 0 auto;
}

.library__container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 50%;
  min-width: 730px;
  max-width: 900px;
  margin: 0 auto;
}

.library__card {
  position: relative;
  width: 100%;
  height: 150px;
  display: flex;
  margin-bottom: 10px;
  color: white;
}

.library__cardTitle {
  line-height: 45px;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.library__detailContainer {
  background-color: rgba(0, 0, 0, 0.5);
  margin-top: auto;
  width: 100%;
  height: 45px;
  display: flex;
  padding: 0 50px;
  justify-content: space-around;
  overflow: hidden;

}

.library__cardPlatforms {
  display: flex;
}

.library__cardGenres {
  display: flex;
}

.library__platformIcon {
  height: 30px;
  margin-left: 5px;
}

.library__cardGenres__p{
  margin: 0;
}

.library__cardImg {
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}